* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(92, 92, 252);
    height: 100px;
    color: white;
    box-sizing: content-box;
}

main, .historico {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 119)
}

.titulo {
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.buscar {
    grid-area: 'busca';
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px gray solid;
}

.dados {
    grid-area: 'dados';
}

main {
    height: 220px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        'busca'
        'dados';
    grid-area: 'main';
    margin-right: 100px;
}

.botao {
    background-color: rgb(92, 92, 252);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
    color: white;
    width: 100px;
}

.botao:active {
    box-shadow: none;
}

.campo-cep {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 16px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 16px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
}

.historico {
    grid-area: 'historico';
    height: 400px;
    overflow: scroll;
}

.historico h1 {
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 2px solid rgb(0, 0, 48);
    background-color: rgb(92, 92, 252);
}

.principal {
    display: grid;

    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'main' 'historico';

    margin: 50px 100px;
}

.dados-historico {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    margin: 10px;
}

th, td {
    height: 50px;
    padding: 0px 40px;
    border-bottom: solid 2px rgb(0, 0, 22);
}

th {
    background-color: rgb(119, 119, 252);
}

table {
    border-collapse: collapse;
    width: 100%;
}

